<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg" style="background-color: #ffffff; border: 2px solid #000000; border-radius: 8px; padding: 20px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);">
 
    <div class="row mb-2">
      <div class="d-flex">
        <div class="col-3">
          <input type="text" id="searchTerm" placeholder="Buscar..." class="form-control" aria-label="Search" 
            style="margin-top: 15px; border: 1px solid #ddd; border-radius: 5px;" />
        </div>
        
        <!-- dropdown -->
        <div class="col-2 ms-2" style="margin-top: 15px">
          <app-select-multiple
            [options]="notificationTypes"
            [optionsChecked]="selectedNotificationType"
            (sendList)="recibirSeleccionadas($event)"
          ></app-select-multiple>
        </div>
     
        <div [formGroup]="form" class="col-2 ms-2">
          <input type="date" class="form-control me-2" formControlName="startDate" 
            style="margin-top: 15px; border: 1px solid #ddd; border-radius: 5px;" />
        </div>

        <div [formGroup]="form" class="col-2 ms-2">
          <input type="date" class="form-control me-2" formControlName="endDate" 
            style="margin-top: 15px; border: 1px solid #ddd; border-radius: 5px;" />
        </div>

     
        <div class="col-3 text-end" style="margin-top: 15px;">
          <button (click)="borrar()" class="btn mx-1 btn-secondary filterbutton">
            <i class="bi bi-trash"></i>
          </button>

          <button class="btn mx-1 btn-success filterbutton" (click)="exportarAExcel()">
            <i class="bi bi-file-earmark-excel"></i>
          </button>

          <button class="btn mx-1 btn-danger me-4 filterbutton" (click)="exportarAPDF()">
            <i class="bi bi-file-earmark-pdf"></i>
          </button>
        </div>
      </div>
    </div>


    <div class="table-responsive">
      <table id="myTable" class="table table-striped table-hover align-middle" 
        style="margin-top: 20px; border-collapse: separate; border-spacing: 0; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); border: 1px solid rgba(51,47,47,0.12);">
        <thead>
          <tr style="background-color: #FFFFFF;">
            <th style="background-color: #FFFFFF; color: #000000; padding: 12px; text-align: center;">Fecha</th>
            <th style="background-color: #FFFFFF; color: #000000; padding: 12px; text-align: center;">Destinatario</th>
            <th style="background-color: #FFFFFF; color: #000000; padding: 12px; text-align: center;">DNI</th>
            <th style="background-color: #FFFFFF; color: #000000; padding: 12px; text-align: center;">Tipo</th>
            <th style="background-color: #FFFFFF; color: #000000; padding: 12px; text-align: center;">Asunto</th>
            <th style="background-color: #FFFFFF; color: #000000; padding: 12px; text-align: center;">Descripción</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</section>

<style>
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .form-control:focus, .form-select:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .form-control, .form-select {
      margin-bottom: 10px;
    }
    table, th, td {
      font-size: 0.8rem;
    }
  }
</style>