


.btn-icon:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}


.btn:hover {
    background-color: #333333;
    transform: translateY(-2px);
}

body {
    background-color: #f7f9fc;
}

.container {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #333333;
}

.dropdown-toggle {
    background-color: #6c757d;
    color: #ffffff;
}

.form-control, .form-select {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-control:focus, .form-select:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.table {
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    border: 1px solid rgba(51,47,47,0.12);

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

.table thead th {
    background-color: #FFFFFF;
    color: #000000;
    padding: 12px;
    text-align: center;
}

.table tbody tr {
    background-color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.table td, .table th {
    padding: 12px;
    text-align: center;
}

@media (max-width: 768px) {
    .form-control, .form-select {
        margin-bottom: 10px;
    }


    table, th, td {
        font-size: 0.8rem;
    }
}