<section class="py-5">
    <div class="container p-3 border border-2 rounded shadow-lg">

<h1 style="text-align: center;">Registro de todas las notificaciones</h1>

<div>
    <table id="myTable" class="table table-striped table-bordered display" style="width:100%">
      <thead>
          <tr>
              <th>Asunto</th>
              <th>Descripcion</th>
              <th>Fecha (A-D-M-H-m-S)</th>
              <th>Destinatario</th>
              <th>Dni</th>
          </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

  </div>
</section>