<div class="notification-icons" style="display: flex; gap: 40px">
  <div class="dropdown">
    <i class="bi bi-bell-fill" (click)="toggleNotificationsAndFetch()"></i>
    <div
      *ngIf="showNotificationsDropdown"
      class="dropdown-menu dropdown-menu-end"
      style="width: 600px;"
    >
      <h6 class="dropdown-header">Notificaciones</h6>
      <div *ngIf="notifications.length === 0" class="dropdown-item">
        No hay notificaciones nuevas.
      </div>
      <div *ngFor="let notification of recentNotifications" class="dropdown-item">
        <div class="notification-item" style="display: flex; align-items: flex-start;">
          <div style="flex-grow: 1; overflow-wrap: break-word;">
            <small>{{ notification.created_datetime | date:'dd/MM/yyyy HH:mm:ss' }}</small>
            <h6><b>{{ notification.subject }}</b></h6>
            <p style="margin-bottom: 0; white-space: normal;">{{ getMessage(notification) }}</p>
          </div>
          @if(!notification.markedRead){
            <i class="bi bi-eye" style="color: black; margin-left: 8px; flex-shrink: 0;" (click)="markAsRead(notification)"></i>
          }@else{
            <i class="bi bi-check" style="color: black; margin-left: 8px; flex-shrink: 0;"></i>
          }
        </div>
      </div>
      <button
        type="button"
        class="btn btn-link"
        (click)="showNotifications()"
      >
        Mostrar todas
      </button>
    </div>
  </div>
</div>