<main style="width: 50%; margin: 0 auto;">
  <h2 class="text-center">Envio de Notificaciones Generales</h2>
  <form class="row g-3 needs-validation" #form="ngForm">
    <div class="col-md-12">
      <label for="inputSubject" class="form-label">Asunto</label>
      <input type="text" class="form-control" id="inputSubject" name="subject" required maxlength="20" #subject="ngModel" [(ngModel)]="newNotification.subject">
      @if (subject.invalid && (subject.dirty || subject.touched)) {
        <div class="alert alert-danger">
          El asunto es requerido y debe tener máximo 20 caracteres.
        </div>
      }
    </div>

    <div class="col-md-12">
      <label for="inputDescription" class="form-label">Mensaje</label>
      <!-- <input type="text" class="form-control" id="inputDescription" name="description" required #description="ngModel" [(ngModel)]="notification.description"> -->
       <textarea class="form-control" id="inputDescription" name="description" 
                  required 
                  #description="ngModel" [(ngModel)]="newNotification.description"
                  style="resize: none;height: 6em;" >
      </textarea>
      @if (description.invalid && (description.dirty || description.touched)) {
        <div class="alert alert-danger">
          La descripcion no debe estar vacia
        </div>
      }
    </div>

    <!-- <div class="col-md-12">
      <label for="inputUsers" class="form-label">Usuarios</label>
      <select name="users" id="inputUsers" [(ngModel)]="selectedUser" required>
        <option value="">Seleccione un usuario</option>
        <option value="Nicolasperlo29@gmail.com">Nicolasperlo29&#64;gmail.com</option>
        <option value="ejemplo@gmail.com">ejemplo&#64;gmail.com</option>
        <option value="ejemplooo@gmail.com">ejemplooo&#64;gmail.com</option>
        <option value="ejemplooooo@gmail.com">ejemplooooo&#64;gmail.com</option>
      </select>
      @if (form.controls['users'].invalid && (form.controls['users'].dirty || form.controls['users'].touched)) {
        <div class="alert alert-danger">
          Debe seleccionar un usuario.
        </div>
      }
    </div> -->
    <div class="col-md-12">
      
        <p>Notificar a: </p>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="usersRbt" id="allRbt" value="allUsers" checked [(ngModel)]="radioButtonValue">
          <label class="form-check-label" for="inlineRadio1">Todos los usuarios</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="usersRbt" id="onlyToRbt" value="onlyTo" [(ngModel)]="radioButtonValue" >
          <label class="form-check-label" for="inlineRadio2">Solamente a</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="usersRbt" id="excludeRbt" value="exclude" [(ngModel)]="radioButtonValue">
          <label class="form-check-label" for="inlineRadio2">Excluir a </label>
        </div>
        
    </div>

    
  </form>

    
      <div class="container" [ngClass]="{hidden: radioButtonValue == 'allUsers'}">
        
        <table id="myTable" class="table table-striped table-bordered display " style="width:100%">
          <thead>
              <tr>
                  <th></th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>DNI</th>
                  <th>Email</th>
                  
              </tr>
          </thead>
          <tbody>
            @for(user of users; track $index) {
              <tr>
                <td>{{$index+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.dni}}</td>
                <td>{{user.email}}</td>
                
            </tr>
            }
              
             
             
          </tbody>
        </table>
      
      </div>
    
    


    <div class="col-12 d-flex justify-content-between">
      <button class="btn btn-secondary" type="button" (click)="getSelectedUsers()">Cancelar</button>
      <button class="btn btn-primary" type="submit" (click)="save(form)">Guardar</button>
    </div>
  
</main>