<div id="char1" class="row position-relative min-vh-75">
  <!-- Gráfico 1: Notificaciones Enviadas por Día -->
  <div *ngIf="status === 1" class="col-12">
    <div class="row">
      
      <!-- Columna izquierda: Gráfico de torta en tamaño grande -->
      <div class="col-md-8">
        <div class="card border-0 shadow rounded-4 h-100 w-100">
          <div class="card-body">
            <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Día</h5>
            <small class="text-secondary">Estadísticas semanales</small>
            <google-chart [type]="c3ChartType" [data]="columnChartData" [options]="columnChartOptions" class="w-100 expanded-chart-content"></google-chart>
          </div>
        </div>
      </div>
      
      <!-- Columna derecha: KPIs en tarjetas pequeñas -->
      <div class="col-md-4">
        <div class="row g-2">
          
          <!-- KPI: Día con más notificaciones ocupa una fila completa -->
          <div class="col-12">
            <div class="card border-0 shadow-sm rounded-4 h-100">
              <div class="card-body p-2">
                <h6 class="card-title">Día con más notificaciones</h6>
                <p class="small mb-1"><strong>{{ maxNotificationsDay }}</strong></p>
                <p class="small">Total de notificaciones: {{ maxNotificationsCount }}</p>
              </div>
            </div>
          </div>
  
          <!-- KPIs para cada día de la semana en dos columnas pequeñas -->
          <div class="col-6">
            <div class="card border-0 shadow-sm rounded-4 h-100">
              <div class="card-body p-2">
                <h6 class="card-title">Lunes</h6>
                <p class="small mb-0">Notificaciones: {{ notificationsLunes }}</p>
              </div>
            </div>
          </div>
  
          <div class="col-6">
            <div class="card border-0 shadow-sm rounded-4 h-100">
              <div class="card-body p-2">
                <h6 class="card-title">Martes</h6>
                <p class="small mb-0">Notificaciones: {{ notificationsMartes }}</p>
              </div>
            </div>
          </div>
  
          <div class="col-6">
            <div class="card border-0 shadow-sm rounded-4 h-100">
              <div class="card-body p-2">
                <h6 class="card-title">Miércoles</h6>
                <p class="small mb-0">Notificaciones: {{ notificationsMiercoles }}</p>
              </div>
            </div>
          </div>
  
          <div class="col-6">
            <div class="card border-0 shadow-sm rounded-4 h-100">
              <div class="card-body p-2">
                <h6 class="card-title">Jueves</h6>
                <p class="small mb-0">Notificaciones: {{ notificationsJueves }}</p>
              </div>
            </div>
          </div>
  
          <div class="col-6">
            <div class="card border-0 shadow-sm rounded-4 h-100">
              <div class="card-body p-2">
                <h6 class="card-title">Viernes</h6>
                <p class="small mb-0">Notificaciones: {{ notificationsViernes }}</p>
              </div>
            </div>
          </div>
  
          <div class="col-6">
            <div class="card border-0 shadow-sm rounded-4 h-100">
              <div class="card-body p-2">
                <h6 class="card-title">Sábado</h6>
                <p class="small mb-0">Notificaciones: {{ notificationsSabado }}</p>
              </div>
            </div>
          </div>
  
          <div class="col-6">
            <div class="card border-0 shadow-sm rounded-4 h-100">
              <div class="card-body p-2">
                <h6 class="card-title">Domingo</h6>
                <p class="small mb-0">Notificaciones: {{ notificationsDomingo }}</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  

    
      </div>

  <!-- Gráfico 2: Notificaciones Enviadas por Tipo de Notificacion -->
  <div *ngIf="status === 2" class="col-12">
    <!-- KPI -->
    <div class="kpi-container">
      <div class="card border-0 shadow-lg mb-3 rounded-4 h-100 w-100">
        <h2>Tipo de notificacion con más notificaciones</h2>
        <p>Tipo de notificacion: {{ maxNotificationsType }}</p>
        <p>Total de notificaciones: {{ maxNotificationsTypeCount }}</p>
      </div>
    </div>
    <div class="card border-0 shadow rounded-4 h-100 w-100">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="back-arrow" (click)="makeBig(0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="gray" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Desde</label>
            <input type="date" class="form-control me-2" formControlName="startDate"/>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Hasta</label>
            <input type="date" class="form-control me-2" formControlName="endDate"/>
          </div>
          <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Tipo de Notificacion</h5>
          <small class="text-secondary">Estadísticas semanales</small>
        </div>
        <google-chart [type]="columnChartType" [data]="columnChartData2" [options]="columnChartOptions2" class="w-100 expanded-chart-content"></google-chart>
      </div>
    </div>
  </div>

  <!-- Gráfico 3: Notificaciones Enviadas por Día y Tipo de Notificacion -->
  <div *ngIf="status === 3" class="col-12">
    <!-- KPI -->
    <div class="kpi-container">
      <div class="card border-0 shadow-lg mb-3 rounded-4 h-100 w-100">
        <h2>Día y tipo de notificacion con más notificaciones</h2>
        <p>Día: {{ maxNotificationsDay }}</p>
        <p>Tipo de notificacion: {{ maxNotificationsType }}</p>
        <p>Total de notificaciones: {{ maxNotificationsCount }}</p>
      </div>
    </div>
    <div class="card border-0 shadow rounded-4 h-100 w-100">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="back-arrow" (click)="makeBig(0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="gray" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Desde</label>
            <input type="date" class="form-control me-2" formControlName="startDate"/>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Hasta</label>
            <input type="date" class="form-control me-2" formControlName="endDate"/>
          </div>
          <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Día y Tipo de Notificacion</h5>
          <small class="text-secondary">Estadísticas semanales</small>
        </div>

        <div class="d-flex justify-content-start align-items-center mb-3">
          <div class="legend-item d-flex align-items-center me-3">
            <div class="legend-color bg-primary me-1" style="width: 15px; height: 15px; border-radius: 3px; margin-left: 125px;"></div>
            <small class="text-secondary">Access</small>
          </div>
          <div class="legend-item d-flex align-items-center me-3">
            <div class="legend-color bg-success me-1" style="width: 15px; height: 15px; border-radius: 3px;"></div>
            <small class="text-secondary">Payment</small>
          </div>
          <div class="legend-item d-flex align-items-center">
            <div class="legend-color bg-warning me-1" style="width: 15px; height: 15px; border-radius: 3px;"></div>
            <small class="text-secondary">Fine</small>
          </div>
          <div class="legend-item d-flex align-items-center" style="padding-left: 10px;">
            <div class="legend-color bg-danger me-1" style="width: 15px; height: 15px; border-radius: 3px;"></div>
            <small class="text-secondary">Inventory</small>
          </div>
        </div>
        <google-chart [type]="cChartType" [data]="columnChartData3" [options]="columnChartOptions3" class="w-100 expanded-chart-content"></google-chart>
      </div>
    </div>
  </div>

  <!-- Gráfico 4: Notificaciones Enviadas por Hora y Dia -->
  <div *ngIf="status === 4" class="col-12">
    <!-- KPI -->
    <div class="kpi-container">
      <div class="card border-0 shadow-lg mb-3 rounded-4 h-100 w-100">
        <h2>Hora y dia con más notificaciones</h2>
        <p>Día: {{ maxNotificationsDay }}</p>
        <p>Hora: {{ maxNotificationsHour }}</p>
        <p>Total de notificaciones: {{ maxNotificationsHourCount }}</p>
      </div>
    </div>
    <div class="card border-0 shadow rounded-4 h-100 w-100">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="back-arrow" (click)="makeBig(0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="gray" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Desde</label>
            <input type="date" class="form-control me-2" formControlName="startDate"/>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Hasta</label>
            <input type="date" class="form-control me-2" formControlName="endDate"/>
          </div>
          <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Hora y Dia</h5>
          <small class="text-secondary">Estadísticas semanales</small>
        </div>
        <google-chart [type]="columnChartType" [data]="columnChartData4" [options]="columnChartOptions4" class="w-100 expanded-chart-content"></google-chart>
      </div>
    </div>
  </div>

  <!-- Gráfico 5: Notificaciones Leidas y No Leidas por Semana -->
  <div *ngIf="status === 5" class="col-12">
  <!-- KPI -->
  <div class="kpi-container">
    <div class="card border-0 shadow-lg mb-3 rounded-4 h-100 w-100">
      <h2>Notificaciones Leidas y No Leidas</h2>
      <p>Leidas: {{ maxNotificationsRead }}%</p>
      <p>No Leidas: {{ maxNotificationsUnread }}%</p>
    </div>
  </div>
    <div class="card border-0 shadow rounded-4 h-100 w-100">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="back-arrow" (click)="makeBig(0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="gray" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Desde</label>
            <input type="date" class="form-control me-2" formControlName="startDate"/>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Hasta</label>
            <input type="date" class="form-control me-2" formControlName="endDate"/>
          </div>
          <h5 class="card-title text-secondary mb-1">Notificaciones Leidas y No Leidas por Semana</h5>
          <small class="text-secondary">Estadísticas semanales</small>
        </div>

        <div class="d-flex justify-content-start align-items-center mb-3">
          <div class="legend-item d-flex align-items-center" style="padding-left: 10px;">
            <div class="legend-color bg-danger me-1" style=" width: 15px; height: 15px; border-radius: 3px;"></div>
            <small class="text-secondary">No Leidas</small>
          </div>
          <div class="legend-item d-flex align-items-center" style="padding-left: 10px;">
            <div class="legend-color bg-success me-1" style=" width: 15px; height: 15px; border-radius: 3px;"></div>
            <small class="text-secondary">Leidas</small>
          </div>
        </div>
        <google-chart [type]="c3ChartType" [data]="columnChartData5" [options]="columnChartOptions5" class="w-100 expanded-chart-content"></google-chart>
      </div>
    </div>
  </div>

  <!-- Gráfico 6: Notificaciones por Mes y Tipo -->
  <div *ngIf="status === 6" class="col-12">
    <!-- KPI -->
    <div class="kpi-container">
      <div class="card border-0 shadow-lg mb-3 rounded-4 h-100 w-100">
        <h2>Mes y tipo de notificacion con más notificaciones</h2>
        <p>Mes: {{ maxNotificationsMonth }}</p>
        <p>Tipo de notificacion: {{ maxNotificationsType }}</p>
        <p>Total de notificaciones: {{ maxNotificationsCount }}</p>
      </div>
    </div>
    <div class="card border-0 shadow rounded-4 h-100 w-100">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="back-arrow" (click)="makeBig(0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="gray" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Desde</label>
            <input type="date" class="form-control me-2" formControlName="startDate"/>
          </div>
          <div [formGroup]="form" class="col-2 ms-2" style="gap: 10px; margin-top: 15px">
            <label>Periodo Hasta</label>
            <input type="date" class="form-control me-2" formControlName="endDate"/>
          </div>
          <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Mes y Tipo de Notificacion</h5>
          <small class="text-secondary">Estadísticas mensuales</small>
        </div>

        <div class="d-flex justify-content-start align-items-center mb-3">
          <div class="legend-item d-flex align-items-center me-3">
            <div class="legend-color bg-primary me-1" style="width: 15px; height: 15px; border-radius: 3px; margin-left: 125px;"></div>
            <small class="text-secondary">Access</small>
          </div>
          <div class="legend-item d-flex align-items-center me-3">
            <div class="legend-color bg-success me-1" style="width: 15px; height: 15px; border-radius: 3px;"></div>
            <small class="text-secondary">Payment</small>
          </div>
          <div class="legend-item d-flex align-items-center">
            <div class="legend-color bg-warning me-1" style="width: 15px; height: 15px; border-radius: 3px;"></div>
            <small class="text-secondary">Fine</small>
          </div>
          <div class="legend-item d-flex align-items-center" style="padding-left: 10px;">
            <div class="legend-color bg-danger me-1" style="width: 15px; height: 15px; border-radius: 3px;"></div>
            <small class="text-secondary">Inventory</small>
          </div>
        </div>
        <google-chart [type]="c4ChartType" [data]="columnChartData6" [options]="columnChartOptions6" class="w-100 expanded-chart-content"></google-chart>
      </div>
    </div>
  </div>

  <!-- Vista principal con gráficos en tamaño normal -->
  <div class="col-6 col-md-4 mb-4" *ngIf="status === 0">
    <!-- KPI -->
    <!-- <div class="row">
      <div class="col mb-3">
          <div class="card border-0 shadow-lg mb-3 rounded-4 h-100 w-100" [ngClass]="{
                  '': pieKPIs.topMethod.name === 'Lunes',
                  '': pieKPIs.topMethod.name === 'Martes',
                  '': pieKPIs.topMethod.name === 'Miercoles',
                  '': pieKPIs.topMethod.name === 'Jueves',
                  '': pieKPIs.topMethod.name === 'Viernes'
              }">
              <div class="card-body position-relative">
                  <i class="bi position-absolute top-50 end-0 translate-middle-y me-4"
                      style="font-size: 2.5rem; color: #e65100; opacity: 0.8;"></i>
                  <div class="pe-5">
                      <h6 class="text-secondary mb-2">Dia donde se enviaron mas notificaciones</h6>
                      <h3 class="mb-0">{{ pieKPIs.topMethod.name }}</h3>
                      <small class="text-muted">{{ pieKPIs.topMethod.percentage | number:'1.0-1' }} del dia...HACER</small>
                  </div>
              </div>
          </div>
      </div>
    </div> -->

    <!-- Gráfico 1 -->
    <div class="card border-0 shadow-lg rounded-4 h-100 transition-all hover-scale" (click)="makeBig(1)">
      <div class="card-body">
        <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Día</h5>
        <google-chart [type]="c3ChartType" [data]="columnChartData" [options]="columnChartOptions" class="w-100"></google-chart>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 mb-4" *ngIf="status === 0">
    <!-- Gráfico 2 -->
    <div class="card border-0 shadow-lg rounded-4 h-100 transition-all hover-scale" (click)="makeBig(2)">
      <div class="card-body">
        <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Tipo de Notificacion</h5>
        <google-chart [type]="columnChartType" [data]="columnChartData2" [options]="columnChartOptions2" class="w-100"></google-chart>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 mb-4" *ngIf="status === 0">
    <!-- Gráfico 3 -->
    <div class="card border-0 shadow-lg rounded-4 h-100 transition-all hover-scale" (click)="makeBig(3)">
      <div class="card-body">
        <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Día y Tipo de Notificacion</h5>
        <google-chart [type]="cChartType" [data]="columnChartData3" [options]="columnChartOptions3" class="w-100"></google-chart>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 mb-4" *ngIf="status === 0">
    <!-- Gráfico 4 -->
    <div class="card border-0 shadow-lg rounded-4 h-100 transition-all hover-scale" (click)="makeBig(4)">
      <div class="card-body">
        <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Hora y Dia</h5>
        <google-chart [type]="columnChartType" [data]="columnChartData4" [options]="columnChartOptions4" class="w-100"></google-chart>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 mb-4" *ngIf="status === 0">
    <!-- Gráfico 5 -->
    <div class="card border-0 shadow-lg rounded-4 h-100 transition-all hover-scale" (click)="makeBig(5)">
      <div class="card-body">
        <h5 class="card-title text-secondary mb-1">Notificaciones Leidas y No Leidas por Semana</h5>
        <google-chart [type]="c3ChartType" [data]="columnChartData5" [options]="columnChartOptions5" class="w-100"></google-chart>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 mb-4" *ngIf="status === 0">
    <!-- Gráfico 6 -->
    <div class="card border-0 shadow-lg rounded-4 h-100 transition-all hover-scale" (click)="makeBig(6)">
      <div class="card-body">
        <h5 class="card-title text-secondary mb-1">Notificaciones Enviadas por Mes y Tipo de Notificacion</h5>
        <google-chart [type]="c4ChartType" [data]="columnChartData6" [options]="columnChartOptions6" class="w-100"></google-chart>
      </div>
    </div>
  </div>

  <!-- Modal de info -->
<div class="modal fade" id="infoModal" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Información del Dashboard</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <p>Bienvenido al Dashboard de Notificaciones. Este panel te permite:</p>
              <ul>
                  <li>Visualizar estadísticas de las notificaciones en tiempo real.
                  <li>Tambien visualizarlo de manera gráfica y/o tablas detalladas.</li>
              </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
</div>
</div>

