.min-vh-75 {
    min-height: 75vh;
}
.hover-scale{
    transition: all 0.3s ease;
}
.hover-scale:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.back-arrow:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.date-input {
    max-width: 160px;
}

button:hover, .date-input:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

google-chart {
    transition: all 0.4s ease;
    height: 100%;
}

#char1 {
    padding-top: 40px;
}

.chart-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.col-md-6 {
    padding: 15px; /* Añade un pequeño relleno para evitar bordes apretados */
}

.google-chart {
    /*width: 100%;*/
    width: 100% !important;
    max-width: 800px;
    /*height: auto;*/
    height: 75vh !important;
    margin-bottom: 20px;
    transition: all 0.4s ease;
    display: block;
    margin: 0 auto;
    padding: 10px;
}