<div class="header">
  <div class="user-info">
    <i class="bi bi-person-fill"></i> 
    <span>Tipo usuario (admin, propietario)</span>
  </div>
  <div class="notification-icons" style="display: flex; gap: 40px;">
    <i class="bi bi-bell-fill" (click)="toggleNotifications()"></i>
    <i class="bi bi-mailbox" (click)="toggleFormNotification()"></i>
  </div>
</div>

<app-notification *ngIf="showNotifications"></app-notification>

<app-post-notification-admin *ngIf="showFormNotification"></app-post-notification-admin>