
<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">
    <main style="width: 70%; margin: 0 auto;">

      <h2 class="text-center">Envio de Notificaciones Generales</h2>
      <form class="row g-3 needs-validation" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="col-md-12">
          <label for="inputSubject" class="form-label">Asunto</label>
          <input type="text" class="form-control" id="inputSubject" name="subject" required maxlength="20" #subject="ngModel" [(ngModel)]="newNotification.subject">
          @if ((subject.invalid && (subject.dirty || subject.touched)) || (subject.invalid && form.submitted)) {
            <div class="alert alert-danger mt-3">
              El asunto es requerido y debe tener máximo 20 caracteres.
            </div>
          }
        </div>
    
        <div class="col-md-12">
          <label for="inputDescription" class="form-label">Mensaje</label>
          <!-- <input type="text" class="form-control" id="inputDescription" name="description" required #description="ngModel" [(ngModel)]="notification.description"> -->
           <textarea class="form-control" id="inputDescription" name="description" 
                      required 
                      #description="ngModel" [(ngModel)]="newNotification.description"
                      style="resize: none;height: 6em;" >
          </textarea>
          @if ((description.invalid && (description.dirty || description.touched)) || (description.invalid && form.submitted) ){
            <div class="alert alert-danger mt-3">
              La descripcion no debe estar vacia
            </div>
          }
        </div>
    
        
        <div class="col-md-12 mb-3">
          <h5>Notificar a:</h5>
            <div class="row justify-content-center d-flex">
              
              <div class="col-auto mt-2">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="usersRbt" id="allRbt" value="allUsers" checked [(ngModel)]="radioButtonValue">
                  <label class="form-check-label" for="inlineRadio1">Todos los usuarios</label>
                </div>
        
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="usersRbt" id="onlyToRbt" value="onlyTo" [(ngModel)]="radioButtonValue" >
                  <label class="form-check-label" for="inlineRadio2">Solamente a</label>
                </div>
        
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="usersRbt" id="excludeRbt" value="exclude" [(ngModel)]="radioButtonValue">
                  <label class="form-check-label" for="inlineRadio2">Excluir a </label>
                </div>
              </div>
              
              <div class="col-5 ">
                
                <select [(ngModel)]="selectValue" [ngModelOptions]="{standalone: true}" class="form-select" required>
                  <option value="1"selected disabled>Canal de comunicación</option>
                  <option value="EMAIL">Email</option>
                  <option value="TELEGRAM">Telegram</option>
                  <option value="SMS">SMS</option>
                </select>
                @if(form.submitted && selectValue=="1") {
                  <div class="alert alert-danger mt-3">
                    Debe elegir un canal de comunicación
                  </div>
                }
              </div>
             
            </div>
            
            
        </div>
        <div class="container" [ngClass]="{hidden: radioButtonValue == 'allUsers'}">
            
          <table id="myTable" class="table table-striped table-bordered display " style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Email</th>
                    
                </tr>
            </thead>
            <tbody>
              @for(user of users; track $index) {
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.lastname}}</td>
                  <td>{{user.dni}}</td>
                  <td>{{user.email}}</td>
                  
              </tr>
              }
                
               
               
            </tbody>
          </table>
        
        </div>


        <div class="col-12 d-flex justify-content-between g-4">
          <button class="btn btn-secondary" type="button" style="width: 150px;" (click)="clearForm(form)">Cancelar</button>
          <button class="btn btn-success" type="submit" style="width: 150px;">Enviar</button>
        </div>
        
      </form>
    
        
          
        
    
    </main>


  </div>
</section>
